<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <link rel="manifest" href="{{ asset('manifest.json') }}" />

        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        {#<script src="{{ asset('OneSignalSDKWorker.js') }}" async=""></script>#}
        <script>
            var OneSignal = window.OneSignal || [];
            // console.log(OneSignal);
            OneSignal.push(function() {
                OneSignal.getUserId( function(userId) {
                    console.log(userId);
                    $(document).on('click', '#accept', function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: 'post',
                            url: '{{ path('subscribe') }}',
                            data: {
                                'userId': userId,
                            },
                            success: function (data) {
                                console.log(userId);
                                console.log(data);
                                console.log('test');
                                alert('Vous êtes maintenant abonné')
                            },
                            error: function(XMLHttpRequest) {
                                console.error('Something Went Wrong !');
                            }
                        });
                    }) ;
            });
                OneSignal.init({
                    appId: "94bf959a-efb0-4b90-b2d4-bdd0acc67333",
                    notifyButton: {
                        enable: true,
                    },
                });
            });


        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
